
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        SmartDB | Modern database administration tool
    </title>

    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="~/Content/css\bootstrap.min.css" rel="stylesheet">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="~/Content/css\nifty.min.css" rel="stylesheet">
    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="~/Content/css\demo\nifty-demo-icons.min.css" rel="stylesheet">
    <!--=================================================-->
    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="~/Content/plugins\pace\pace.min.css" rel="stylesheet">
    <script src="~/Content/plugins\pace\pace.min.js"></script>
    <link href="~/Content/plugins/themify-icons/themify-icons.min.css" rel="stylesheet">

    @RenderSection("styles", required: false)

</head>
<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">

        <!--NAVBAR-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">
                <!--Brand logo & name-->
                <div class="navbar-header">
                    <a href="~/Content/theme/index.html" class="navbar-brand">
                        <img src="~/Content/theme/img\logo.png" alt="Nifty Logo" style=" margin-top: 8px; margin-left: 6px; width: 47px; height: 42px;filter: hue-rotate(225deg); " class="brand-icon">
                        <div class="brand-title">
                            <span class="brand-text">SmartDB</span>
                        </div>
                    </a>
                </div>
                <!--End brand logo & name-->
                <!--Navbar Dropdown-->
                <div class="navbar-content">
                    <ul class="nav navbar-top-links">
                        <!--Navigation toogle button-->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="~/Content/theme/#">
                                <i class="demo-pli-list-view"></i>
                            </a>
                        </li>
                        <!--End Navigation toogle button-->
                    </ul>
                    <ul class="nav navbar-top-links"></ul>
                </div>
                <!--End Navbar Dropdown-->

            </div>
        </header>
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <div id="content-container">

                <div id="page-head">

                    <div class="text-center">
                        <h3 class="m-b-30 m-t-20">@ViewBag.Title</h3>
                        <p>@ViewBag.SubTitle</p>
                    </div>
                    <hr class="new-section-md bord-no">
                </div>
                <!--Page content-->
                <div id="page-content">
                    @RenderBody()
                    <!--End page content-->

                </div>
                <!--END CONTENT CONTAINER-->
                <!--MAIN NAVIGATION-->
                <nav id="mainnav-container">
                    <div id="mainnav">
                        <!--Menu-->
                        <div id="mainnav-menu-wrap">
                            <div class="nano">
                                <div class="nano-content">
                                    <div id="mainnav-profile" class="mainnav-profile">
                                        <div class="profile-wrap text-center">
                                            <div class="pad-btm">
                                                <img class="img-circle img-md" src="~/Content/theme/img\profile-photos\1.png" alt="Profile Picture">
                                            </div>
                                            <a href="~/Content/theme/#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                                <span class="pull-right dropdown-toggle">
                                                    <i class="dropdown-caret"></i>
                                                </span>
                                                <p class="mnp-name">Ahmed Oumezzine</p>
                                                <span class="mnp-desc">ahmedoumezzine@outlook.fr</span>
                                            </a>
                                        </div>
                                    </div>
                                    <ul id="mainnav-menu" class="list-group">
                                        <li>
                                            <a href="@Url.Action("Index","Home")">
                                                <i class="demo-pli-home"></i>
                                                <span class="menu-title">Dashboard</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","Databases")">
                                                <i class="ti-server"></i>
                                                <span class="menu-title">Databases</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","SqlQuery")">
                                                <i class="ti-write"></i>
                                                <span class="menu-title">Sql Query</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","Logger")">
                                                <i class="ti-brush-alt"></i>
                                                <span class="menu-title">Logger</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End menu-->
                    </div>
                </nav>
                <!--END MAIN NAVIGATION-->
            </div>
            <!-- FOOTER -->
            <footer id="footer">
                <p class="pad-lft">&#0169; 2018 Creastudio Inc. </p>
            </footer>
            <!-- END FOOTER -->
            <button class="scroll-top btn">
                <i class="pci-chevron chevron-up"></i>
            </button>
        </div>
    </div>
    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--jQuery [ REQUIRED ]-->
    <script src="~/Content/js\jquery.min.js"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="~/Content/js\bootstrap.min.js"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="~/Content/js\nifty.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
